

@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');

.App {
  text-align: center;
}

.App-header {
  background-color: #303a4d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
