/* Adjusted .results-container CSS */
.results-container {
    display: flex; /* Use flexbox */
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center items horizontally in the container */
    justify-content: center; /* Center items vertically in the container */
    padding: 20px;
    border: 1px solid #0f0;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px; /* Max width for the container */
    margin-inline: auto; /* Center the container horizontally */
    margin-block-start: 12%;
  }
  

.results-container h2{
    font-size: 1.5rem;
    color: #ffffff;
}