/* Adjusted .results-container CSS */
.results-container {
    display: flex; /* Use flexbox */
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center items horizontally in the container */
    justify-content: center; /* Center items vertically in the container */
    padding: 20px;
    border: 1px solid #0f0;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px; /* Max width for the container */
    margin-inline: auto; /* Center the container horizontally */
    margin-block-start: 12%;
    margin-top: 50px;

  }
  
.video-container{

}
.results-container h2{
    font-size: 1.5rem;
    color: #ffffff;
}
.results-container {
    padding: 20px;
}

.video-container {
    margin-bottom: 20px;
}

.file-data {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #fff;
    padding: 8px;
    text-align: center;
}

th {
    background-color: rgb(7, 0, 87);
}

.left-knee {
    margin-right: 10px;
}

.right-knee {
    margin-left: 10px;
}
