.results-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
    margin-bottom: 10px;
    padding: 20px;
    border: 1px solid #0f0;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    width: 100%;
    margin-left: 450px;
    max-width: 500px;
    z-index: 1; /* Sätter innehållet framför bakgrunden */
}
.results-container h2{
    font-size: 1.5rem;
    color: #ffffff;
}