/* VideoUpload.css */

.file-upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  border-radius: 10px;
  margin-top: 1px; /* Vertically center a bit */
}

.file-upload-label {
  font-size: 18px;
  color: #FFF;
  background-color: #4caf50; /* Sporty green */
  padding: 12px 36px;
  border-radius: 25px;
  margin-bottom: 12px;
  transition: transform 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  font-family: 'Racing Sans One', cursive;

}

.file-upload-label:hover {
  background-color: #66bb6a; /* Lighter green on hover */
  transform: translateY(-2px); /* Slight lift */
}

input[type="file"] {
  display: none; /* Hide the default file input */
}

/* Upload button styling */
.fileUpload {
  background-color: #555; /* Neutral tone for the upload button */
  color: #ffffff;
  padding: 12px 36px;
  border: none;
  border-radius: 25px;
  margin: 8px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);


}

.fileUpload:hover {
  background-color: #777; /* Lighten the button color on hover */
  transform: translateY(-2px); /* Slight lift */
}

/* Remove file button styling */
button {
  background-color: #ff5252; /* Red color for removal */
  color: #FFF;
  padding: 6px 24px;
  border: none;
  border-radius: 15px;
  font-size: 16px;
  margin-top: 4px;
  cursor: pointer;
  font-family: 'Racing Sans One', cursive;
  transition: background-color 0.3s, transform 0.2s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

button:hover {
  background-color: #ff4444; /* A slightly darker red on hover */
  transform: translateY(-2px); /* Slight lift */
}

/* Responsive design adjustments for smaller screens */
@media (max-width: 768px) {
  .file-upload-container {
    padding: 15px;
  }

  .file-upload-label,
  .fileUpload {
    padding: 10px 20px;
    font-size: 16px;
  }

  button {
    padding: 4px 12px;
    font-size: 14px;
  }
}
